Andreas Odorico <andreas.odorico@u-psud.fr>
Arnaud Le Rouzic <lerouzic@egce.cnrs-gif.fr> <lerouzic@legs.cnrs-gif.fr>
Arnaud Le Rouzic <lerouzic@egce.cnrs-gif.fr> <>
Christine Mayer <chrismay@biotemp88006.local>
Estelle Rünneburger <estelle.runneburger@egce.cnrs-gif.fr> Estelle Runneburger <estelle.runneburger@legs.cnrs-gif.fr> 
Jeremy Guez <jeremy.guez@u-psud.fr>
Sylvain Pouzet <sylvaintpouzet@gmail.com>
